@model ItemViewModel
@{
    ViewBag.Title = "Add New Item | My Wishly";
}

<h2 class="mb-4">Create an Item</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data" asp-antiforgery="true">
    <div class="row">
        <div class="col-6">
            
            <div class="invalid-feedback"><span asp-validation-for="Name"></span></div>
            <div class="form-floating mb-3 col-8">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <label asp-for="Name"></label>
            </div>
            
            <div class="col-4">
                <div class="invalid-feedback"><span asp-validation-for="Price"></span></div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                        <input asp-for="Price" class="form-control" placeholder="1.00">
                        <label asp-for="Price"></label>
                    </div>
                </div>
            </div>
            
            <div class="invalid-feedback"><span asp-validation-for="PurchaseUrl"></span></div>
            <div class="form-floating mb-3">
                <input asp-for="PurchaseUrl" class="form-control" placeholder="Name" />
                <label asp-for="PurchaseUrl"></label>
            </div>

            <div class="invalid-feedback"><span asp-validation-for="Description"></span></div>
            <div class="form-floating mb-1">
                <textarea asp-for="Description" class="form-control" placeholder="Description" style="height: 12rem"></textarea>
                <label asp-for="Description"></label>
            </div>
            <div class="mb-3"><em>Supports Markdown!</em></div>
        </div>
        <div class="col-6">
            <div class="invalid-feedback"><span asp-validation-for="Image"></span></div>
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" accept=".png, .jpg, .jpeg" />
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-check fa-fw"></i>
            Save Item
        </button>
    </div>
</form>