@model ItemViewModel
@{
    ViewBag.Title = "Edit Item | My Wishly";
}
<div class="pagetitle">
    <h1>Edit Item: @Model.Name</h1>
</div>

<form asp-action="Edit" method="post" asp-antiforgery="true" enctype="multipart/form-data" asp-route-itemId="@ViewBag.ItemId">
    <div class="row">
        <div class="col-6">
            
            <div class="invalid-feedback"><span asp-validation-for="Name"></span></div>
            <div class="form-floating mb-3 col-8">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <label asp-for="Name"></label>
            </div>

            <div class="col-8">
                <div class="form-check form-control-lg">
                    <input asp-for="IsHidden" class="form-check-input">
                    <label asp-for="IsHidden" class="form-check-label"></label>
                </div>
            </div>

            <div class="col-4">
                <div class="invalid-feedback"><span asp-validation-for="Price"></span></div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                        <input asp-for="Price" class="form-control" placeholder="1.00">
                        <label asp-for="Price"></label>
                    </div>
                </div>
            </div>
            
            <div class="col-4">
                <div class="invalid-feedback"><span asp-validation-for="PriceMax"></span></div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                        <input asp-for="PriceMax" class="form-control" placeholder="1.00">
                        <label asp-for="PriceMax"></label>
                    </div>
                </div>
            </div>
            
            <div class="invalid-feedback"><span asp-validation-for="PurchaseUrl"></span></div>
            <div class="form-floating mb-3">
                <input asp-for="PurchaseUrl" class="form-control" placeholder="Name" />
                <label asp-for="PurchaseUrl"></label>
            </div>

            <div class="invalid-feedback"><span asp-validation-for="Description"></span></div>
            <div class="form-floating mb-1">
                <textarea asp-for="Description" class="form-control" placeholder="Description" style="height: 12rem"></textarea>
                <label asp-for="Description"></label>
            </div>
            <div class="mb-3"><em>Supports Markdown!</em></div>
        </div>
        <div class="col-6">
            <h4>Replace Image</h4>
            <p><em>Leave blank to keep your existing image.</em></p>
            <div class="invalid-feedback"><span asp-validation-for="Image"></span></div>
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" class="form-control" accept=".png, .jpg, .jpeg" />

            <h4 class="mt-5">Current Image</h4>
            <img src="@Model.PreviousImageUrl" alt="@Model.Name product image" class="img-fluid" />
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-check fa-fw"></i>
            Update Item
        </button>
    </div>
</form>